<!DOCTYPE html>
        <html>
            <head>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <title>Validator Response</title>
            </head>
            <body>
        <form action="" method="post">
            {% csrf_token %}
        
<div class="jumbotron">
<h1>Validation Result</h1>
</div>
<h3>XML Syntax validation : </h3>
            <div class="alert alert-success"> Okay </div><h3>XML Schema validation : </h3>
            <div class="alert alert-success"> Okay </div><div class="alert alert-success"> <strong> Instance is valid :)</strong>
        </div></form>
<div class="container">
        <form action="" method="post">
                {% csrf_token %}
                <input type="submit" name="valid" value="Home" />
                
            </form>
        </div>
        </body> </html>"

    